@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }
    .logo {
       margin-right: 76px;
    }
        
      
    /*--AUTORIZATION--*/
    
    .auth-contact {
    display: flex;
    gap: 40px;
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
    
    .contact-wrap {
       display: flex;
    }

    .container-hero {
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/Dark-bg-desktop1.jpg');
    
    min-width: 1200px;
    height: 600px;
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url('../images/Dark-bg-desktop2.jpg');
    }
    } 

    .modal {
       min-height: 584px;
       }

    .features {
        padding-top: 120px;
        padding-bottom: 120px;
        }
    .features-list {
        display: flex;
        gap : 24px;
        
        }
            
    .features-items {
        width: calc((100% - 72px) / 4);   
        margin-bottom: 0;
       }
        
    .features-title {
        color: var(--primary-title-color);
        
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        }
    .works-title {
        color: var(--primary-title-color);
            
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        }

    .works-list  {
        display: flex;
        column-gap : 24px;
        padding-top: 72px;
        padding-bottom: 120px;
        }
    
    .works-item {
        background-blend-mode: soft-light, normal;
        width: calc((100% - 48px) / 3);
        } 

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
        }
        
    .team-list {
        display: flex;
        column-gap : 24px;
        }
        
    .team-item {
        width: calc((100% - 72px) / 4);
        }
        
    
    .customers-wrap {
        display: block;
        padding-top: 120px;
        padding-bottom: 120px;
        }
            
    .customers-list {
        display: flex;
        gap: 24px; 
        margin-top: 72px;
        }
            
    .customers-link {
        width: 168px;
        
        }
            

/* PORTFOLIO */
.portfolio-page {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter-wrap {
    margin-bottom: 72px;
}

.portfolio-list {
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);  
}

/* --FOOTER-- */

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 0;
        }
    .footer-text {
        margin-right: 120px;
        }
    .footer-box {
        display: flex;
        align-items: start;
        justify-content: start;
        }
    .footer-logo {
        color: #F4F4FD;
        }
    .social-footer {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-right: 80px;
        }
            
    .logotype {
        margin-right: 0;
        }
                                 
    .subscribe {
        display: flex;
        }
         
    .subscribe-text {
        margin-top: 0;
        }
           
    .footer-input {
        Width: 264px;
        }
        }


