@media screen and (min-width: 320px) and (max-width: 480px) {
    
     .header-container {
         height: 70px;
        }
      }
   
@media screen and (max-width: 767px) {
    
    .navigation-list {
       display: none;
       }
   .contact-wrap {
       display: none;
        } 
        
@media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
  .hero {
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url('../images/Dark-bg-mobile2.jpg');
  }
}
.features-wrap {
display: none;
 }

.works {
    display: none; 
}
}
 
